{% extends 'base.html' %}

{% block content %}
    {% if not results %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <div class="alert alert-warning" role="alert">
                There is no data in database, please import some data.
            </div>
        </div>
    {% else %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Last report from {{ person }}</h1>
      </div>
      <canvas class="my-4 w-100" id="bar_chart" width="900" height="380"></canvas>
    {% endif %}
{% endblock content %}
