{% extends 'base.html' %}

{% block content %}
<h2>Import your report</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">
          {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" role="form">
                {% csrf_token %}
                {% include 'includes/bs4_form.html' with form=form %}
                <input type="submit" class="btn btn-primary mb-2" value="Upload!" />
            </form>
	    </div>
    </div>
</div>
{% endblock content %}
