{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Personal report by {{ object.person }}</h1>
      </div>
      <canvas class="my-4 w-100" id="bar_chart" width="900" height="380"></canvas>
{% endblock content %}
